<h1 style="margin-left: 20%;">Lista de Usuarios registrados en la web</h1>

<div class="contenedor-lista">
	<p class="red">
		Permiso: 1 = usuario normal <br>
		Permiso: 2 = editor <br>
		Permiso: 3 = administrador <br>

	</p>
	<ol id="lista2">
	<% @users.each do |user| %>
		<li><%= link_to user.email, user %> - Permiso: <%= user.permission_level %> </li>
	<%end%>
	</ol>
</div>